# Copy this file to .env and fill in real values

SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
USE_DOCKER=True

DATABASE_URL=postgresql://lms_user:lms_password@db:5432/lms_db
DB_HOST=db
DB_PORT=5432

FIELD_ENCRYPTION_KEY=your-fernet-key-here
FIELD_HASH_KEY=your-hmac-key-here